.App {
  text-align: center;
}

.controls {
  margin: auto;
  margin-top: 1rem;
  width: 25%;
  padding: 0 2rem 1rem 2rem;
  border: 1px solid #242424;
}

.controls-switches {
  margin-top: -1rem;
  display: flex;
  justify-content: space-between;
}

.page-container {
  width: 45%;
  margin: auto;
}

.cardbox {
  display: flex;
  flex-direction: column;
}

.card {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
